/*-----------------------------------------------------------------*/
/*--- Custom Reset Styles ---*/
/*-----------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
  outline: none;
  min-width: 320px;
  height: 100%;
  background: #75c35a;
  color: #9f9f9f;
}
body {
  color: #9f9f9f;
  font: 16px/20px Helvetica, Arial, sans-serif;
  left: 0 !important;
}
p,
img {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}
a img {
  border: 0;
  display: block;
  outline: none;
}
a, a:focus {
  color: #10b54a;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
  outline: none !important;
}
a:hover {
  color: #14ca54;
}
button,
input[type="submit"],
select {
  outline: none !important;
  border: 0;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  text-shadow: none !important;
  line-height: normal !important;
  border-radius: 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select {
  border-radius: 0 !important;
  border: 0;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none !important;
  background: #f2f2f2;
  width: 100%;
  display: block;
  padding: 12px 20px 10px;
  height: 60px;
  color: #9f9f9f;
  font-size: 18px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}
.btn-base {
    height: 60px;
    width: 100%;
    padding: 0 10px;
    display: block;
    line-height: 64px !important;
    text-align: center;
    background: #00b241;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    max-width: 500px;
    margin: 0 auto;
}
.btn-base:hover {
  background: #00c849;
}
/*--------------------------------------*/
::-webkit-input-placeholder {
  color: #9f9f9f;
}
:-moz-placeholder {
  color: #9f9f9f;
  opacity: 1;
}
::-moz-placeholder {
  color: #9f9f9f;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9f9f9f;
}
header,
hgroup,
nav,
aside,
section,
article,
footer {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
}
/*---------------------------------------------------------------------*/
/*--- Login Global Style ---*/
/*-----------------------------------------------------------------*/
.ng-scope {
  height: 100%;
}
.content {

}
.content-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background: #fff;
  width: 400px;
  height: auto;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 0px 19px -1px rgba(0,0,0,.5);
}
.login-form input {
  margin-bottom: 20px;
}
.login-form input:last-of-type {
  margin-bottom: 30px;
}
.error-form-message {
  height: auto;
  background: #ffd0d8;
  color: #ff294c;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  line-height: 18px;
}

/*---------------------------------------------------------------------*/
/*--- Data Table Global Style ---*/
/*-----------------------------------------------------------------*/
.dataTable-content {
  background: #fff;
  color: #000;
  font-size: 14px;
  line-height: 16px;
}
.dataTable-content table {
  border-collapse: collapse;
  background: #f7f7f7;
}
.dataTable-content table tr {
  background: #f7f7f7;
  outline: none !important;
}
.dataTable-content table tr:nth-child(2n+1) {
  background: #f1f1f1;
}
.dataTable-content table tr td {
  padding: 10px;
  outline: none !important;
}
.dataTable-content table tr td:nth-child(2n+1) {
  background: rgba(0,0,0,.04);
}
.dataTable-content .btn-base {
    margin: 30px auto;
    background: #f1f1f1;
    color: #000;
}
.dataTable-content .btn-base:hover {
    background: #fff;
}
