<!-- dataGrid template -->
<div ng-controller="dataTable" class="dataTable-content">
  <table>
    <!--<tr contenteditable='true' ng-repeat="(key, value) in countries">
      <td contenteditable='true' ng-repeat="item in value track by $index" on-keydown="dataChange()" ng-model="content">
        {{item}}
      </td>
    </tr>-->
    <tr ng-repeat="(key, value) in countries">
      <td ng-repeat="item in value track by $index" on-keydown="dataChange()" ng-model="content">
        {{item}}
      </td>
    </tr>
  </table>
  <!--<button ng-click="dialogWindow()" type="button" class="btn-base">Edit Data</button>-->
</div>
