<!-- login template -->
<div class="content content-login">
  <div class=login-box>
    <div ng-controller="loginController">
      <form action="/" class="login-form">
        <input placeholder="username" ng-mousedown="checkForm()" type="text" ng-model="uname">
        <input placeholder="password" ng-mousedown="checkForm()" type="password" ng-model="pass">
        <button type="button" class="btn-base" ng-click="submit()">Login</button>
      </form>
      <div class="error-form-message" ng-if="errorLogin">
        username or the password is incorrect, please correct and try again
      </div>
    </div>
  </div>
</div>
